

<html>
<head>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <table id="main_layout">
    <tr v-for="(value_tr,key_tr) in size">
      <td v-for="(value_td,key_td) in size" @click="click_cell(key_tr,value_td)">
        {{ key_tr }}/{{ value_td }}
      </td>
    <tr>
  </table>
  <div id="info" v-text="message"></div>
  <!--<input type="text" v-model="message">
    <div v-if="check">
      {{message}}
    </div>
    <div v-else>
      пусто
    </div>
    <input type="checkbox" v-model="check">
  </div>
-->
  <script src="vue.js"></script>
  <script >
  var main_layout = new Vue({
    el: '#main_layout',
    data: {
      size:[1,2,3]
    },
    methods:{
      click_cell: function(tr,td){
        info.message='Нажатие'+tr+'/'+td+'\n'+info.message;
      }
    }
  });
  var info = new Vue({
    el: '#info',
    data: {
      message: 'Логи'
    }
  })
  </script>
</body>
</html>
